.footer {
  background: #a8c1f8;
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px 50px 137px;
}

.footer__content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 840px;
}

.footer__title {
  position: relative;
  font-weight: 600;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -3%;
  color: var(--color-ink);
}

.footer__spark {
  position: absolute;
  top: -28px;
  left: -20px;
  transform: rotate(-160.28deg);
}

.footer__bubble {
  display: inline-block;
  vertical-align: -14px;
  margin-left: 14px;
  transform: rotate(6.95deg) translate(20px, 10px);
}

.footer__email {
  color: var(--color-ink);
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -3%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__email:hover {
  color: #1a2a55;
}

.footer__bar {
  height: 10px;
  background: var(--color-accent-yellow);
}

@media (max-width: 1024px) {
  .footer__container {
    padding: 100.2px 52px 207.8px;
  }

  .footer__content-container {
    flex-direction: column;
    gap: 16px;
  }
}
