.how {
  background: #ffffff;
  padding: 96px 70px;
}

.how__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.how__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px
}

.how__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -3%;
  text-align: center;

}

.how__content-container {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  max-width: 1160px;
}

.how__content {
  flex: 1;
}

/* ---- Steps ---- */
.steps {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 0;
}

.step {
  display: flex;
  gap: 24px;
  align-items: start;
}

.how__num-container {
  align-self: stretch;
  width: 98px;
  border-right: 1px solid #E6E9EA;
}

.step__num {
  font-family: 'Fixel';
  font-weight: 600;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -3%;
  color: #d3d7de;
}

.step__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.step__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -3%;
}

.step__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
}

/* ---- Media ---- */
.how__media {
  width: 540px;
  height: 512px;
  position: relative;
  margin: 0;
}

.how__media img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.how__badge {
  position: absolute;
  right: 28px;
  bottom: 28px;
  width: 96px;
  height: 96px;
  display: grid;
  place-items: center;
  background: var(--color-accent-blue);
  border-radius: 50%;
  box-shadow: 0 10px 24px rgba(59, 109, 246, 0.35);
  transform: rotate(14.85deg) translate(52px, -100px);
}

.how__badge-icon {
  width: 60px;
  height: 62px;
}

.how__photo-container {
  width: 540px;
  height: 512px;
  overflow: hidden;
  margin-top: auto;
}

/* .how__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media (max-width: 480px) {
  .how__media {
    width: 100%;
    height: auto;
  }

  .how__photo-container {
    width: 100%;
    height: auto;
  }

  .how__badge {
    transform: rotate(14.85deg) translate(45px, 60px);
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .how__media {
    width: 100%;
    height: auto;
  }

  .how__photo-container {
    width: 100%;
    height: auto;
    padding: 32px;
  }
  .how__badge {
    transform: rotate(14.85deg) translate(10px, 40px);
  }
}

@media (max-width: 1000px) {
  .how {
    padding: 96px 0;
    overflow-x: hidden;
  }

  .how__title-block {
    padding: 0 32px;
  }

  .how__title br {
    display: none;
  }

  .how__title {
    font-size: 32px;
  }

  .how__content-container {
    flex-direction: column;
    gap: 56px;
  }

  .how__content {
    padding: 0 32px;
  }

  .steps {
    gap: 24px;
  }

  .step {
    flex-direction: column;
    gap: 16px;
  }

  .step__num {
    font-size: 32px;
  }

  .how__num-container {
    border: none;
  }
}
